*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* FONDO */

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(90deg,#050505,#0b0f14,#050505);
color:white;
}

/* CONTENEDOR */

.contenedor{
background:#0f1419;
padding:30px;
border-radius:15px;
box-shadow:0 0 50px rgba(0,0,0,0.9);
}

/* LOGIN */

.login-box{
width:330px;
background:#000;
border:2px solid #d4af37;
border-radius:10px;
padding:25px 20px;
text-align:center;
position:relative;
}

/* MENU */

.menu{
position:absolute;
left:18px;
top:18px;
color:#d4af37;
font-size:22px;
cursor:pointer;
}

/* SUBMENU */

.submenu{
position:absolute;
top:45px;
left:18px;
background:#1a1a1a;
border-radius:6px;
padding:8px;
display:none;
flex-direction:column;
width:170px;
text-align:left;
}

.submenu a{
color:white;
text-decoration:none;
font-size:12px;
padding:6px;
}

.submenu a:hover{
color:#d4af37;
}

.mostrar{
display:flex;
}

/* LOGO */

.logo{
width:200px;
margin:10px 0 5px 0;
}

/* TITULO */

h2{
font-size:16px;
letter-spacing:2px;
margin-bottom:6px;
}

h2 span{
color:#d4af37;
}

/* SLOGAN */

.slogan{
color:#d4af37;
font-size:12px;
margin-bottom:10px;
}

/* IMAGEN */

.familia{
width:110px;
margin-bottom:12px;
}

/* INPUTS */

form input{
width:100%;
padding:10px;
margin:5px 0;
background:#1a1a1a;
border:1px solid #333;
border-radius:6px;
color:white;
font-size:13px;
}

form input:focus{
border:1px solid #d4af37;
outline:none;
}

/* LINK */

.olvide{
display:block;
text-align:left;
font-size:11px;
color:#d4af37;
margin:4px 0 10px 2px;
text-decoration:none;
}

/* BOTON */

button{
width:100%;
padding:10px;
background:#d4af37;
border:none;
border-radius:6px;
font-weight:bold;
color:white;
cursor:pointer;
margin-bottom:10px;
}

button:hover{
background:#c49b2c;
}

/* REGISTRO */

.registro-texto{
font-size:11px;
margin-bottom:2px;
}

.registro{
font-size:12px;
font-weight:bold;
text-decoration:none;
color:white;
}